<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>erweima.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1585918C1E10F08F00A478D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158591A51E10F08F00A478D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158591B01E10F08F00A478D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
